In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df = pd.read_csv('')

In [1]:
import pandas as pd
        
combined_football_data = pd.read_csv('combined_football_data.csv')
combined_football_data.info

C:\Users\Admin\AppData\Local\Temp\ipykernel_8892\3558316516.py:3: DtypeWarning: Columns (128) have mixed types. Specify dtype option on import or set low_memory=False.
  combined_football_data = pd.read_csv('combined_football_data.csv')

<bound method DataFrame.info of       Div        Date    HomeTeam         AwayTeam  FTHG  FTAG FTR  HTHG  \
0      E0    19/08/00    Charlton  Manchester City   4.0   0.0   H   2.0
1      E0    19/08/00     Chelsea         West Ham   4.0   2.0   H   1.0
2      E0    19/08/00    Coventry    Middlesbrough   1.0   3.0   A   1.0
3      E0    19/08/00       Derby      Southampton   2.0   2.0   D   1.0
4      E0    19/08/00       Leeds          Everton   2.0   0.0   H   2.0
...    ..         ...         ...              ...   ...   ...  ..   ...
40732  F1  15/03/2025        Lens           Rennes   1.0   0.0   H   0.0
40733  F1  16/03/2025        Lyon         Le Havre   4.0   2.0   H   1.0
40734  F1  16/03/2025       Brest            Reims   0.0   0.0   D   0.0
40735  F1  16/03/2025  Strasbourg         Toulouse   2.0   1.0   H   0.0
40736  F1  16/03/2025    Paris SG        Marseille   3.0   1.0   H   2.0

       HTAG HTR  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
0       0.0   H  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
1       0.0   H  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
2       1.0   D  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
3       2.0   A  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
4       0.0   H  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN
...     ...  ..  ...    ...   ...    ...    ...    ...    ...       ...
40732   0.0   D  ...   2.10  3.49   3.75   2.08    3.6    4.1      2.10
40733   2.0   A  ...   1.30  6.63   9.19   1.29    7.0   11.0      1.50
40734   0.0   D  ...   1.68  3.87   5.64   1.72    3.9    6.0      2.06
40735   1.0   A  ...   2.59  3.28   2.94   2.74    3.4    2.9      2.12
40736   0.0   H  ...   1.37  5.79   8.70   1.36    5.9   10.0      1.53

       BFEC<2.5  BFECAHH  BFECAHA
0           NaN      NaN      NaN
1           NaN      NaN      NaN
2           NaN      NaN      NaN
3           NaN      NaN      NaN
4           NaN      NaN      NaN
...         ...      ...      ...
40732      1.88     2.08     1.91
40733      2.98     1.98     1.97
40734      1.92     1.91     2.07
40735      1.87     1.94     2.05
40736      2.86     1.98     1.98

[40737 rows x 212 columns]>

In [2]:
combined_football_data.describe()

,FTHG,FTAG,HTHG,HTAG,Attendance,HS,AS,HST,AST,HHW,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
count,40509.000000,40509.000000,40505.000000,40505.00000,548.000000,37061.000000,37061.000000,36449.000000,36449.000000,549.000000,...,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000,1325.000000
mean,1.530030,1.164828,0.679175,0.50853,33245.888686,13.731092,11.058876,5.204176,4.143159,0.369763,...,2.861343,4.165094,4.503389,2.965192,4.265894,5.055449,1.956883,2.254679,1.984875,2.003026
std,1.284624,1.135533,0.829326,0.72161,12407.848187,5.177664,4.581803,2.803673,2.442114,0.618950,...,1.794315,1.381856,3.517573,2.083346,1.600054,4.930326,0.438182,0.619027,0.096935,0.097476
min,0.000000,0.000000,0.000000,0.00000,14651.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.040000,2.600000,1.180000,1.040000,2.660000,1.140000,1.140000,1.280000,1.720000,1.740000
25%,1.000000,0.000000,0.000000,0.00000,22523.250000,10.000000,8.000000,3.000000,2.000000,0.000000,...,1.700000,3.400000,2.240000,1.720000,3.450000,2.340000,1.640000,1.830000,1.910000,1.930000
50%,1.000000,1.000000,0.000000,0.00000,32591.500000,13.000000,11.000000,5.000000,4.000000,0.000000,...,2.270000,3.760000,3.430000,2.320000,3.750000,3.600000,1.880000,2.120000,1.980000,2.000000
75%,2.000000,2.000000,1.000000,1.00000,39179.000000,17.000000,14.000000,7.000000,6.000000,1.000000,...,3.410000,4.410000,5.350000,3.450000,4.500000,5.700000,2.180000,2.540000,2.060000,2.080000
max,10.000000,9.000000,6.000000,6.00000,67651.000000,46.000000,39.000000,24.000000,20.000000,4.000000,...,16.700000,19.000000,29.000000,26.000000,29.000000,80.000000,4.400000,7.600000,2.310000,2.370000

In [3]:
combined_football_data.isnull().sum()

Div            17
Date          228
HomeTeam      228
AwayTeam      228
FTHG          228
            ...
BFECA       39412
BFEC>2.5    39412
BFEC<2.5    39412
BFECAHH     39412
BFECAHA     39412
Length: 212, dtype: int64